.tablo--container {
  margin: 0 10px;
  box-sizing: border-box;
}
.tablo .footer {
   border-bottom: none;
}
.tablo {
  border-collapse: collapse;
  width: 100%;
}
.tablo .filter-content {
  position: absolute;
  top: 100%;
 left: 0;
 right: 0;
}
.tablo .head {
  display: flex;
  width: 100%;
  align-items: center;
}
.tablo .head.filtering {
   background: #f6f6f6;
   padding-left: 8px;
}
.tablo .head-text {
  flex: 1;
}
.tablo .first-col {
  display: flex;
}
.tablo .head-input {
  min-width: 40px;
  width: 100%;
  padding: 10px 0 10px 5px;
  outline: none;
  border: none;
  background: inherit;
}
.tablo th.filtering {
   padding-left: 9px;
}
.tablo tbody tr:not(.tablo--aggregates) {
  border-bottom: 1px solid #e0e0e0;
}
.tablo th,
.tablo td {
  text-align: left;
}
.tablo th {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 100;
  white-space: nowrap;
}
.tablo td {
  padding: 7px 2px;
  font-size: 15px;
  word-break: break-all;
}
.tablo .aggregate-cell {
  font-size: smaller;
  font-weight: 900;
      background: #eee;
}
.tablo .head:hover .sort {
    color: #0a2c45;
    background: #eee;
}
.tablo .sort {
  font-size: 17px;
  cursor: pointer;
  float: right;
  color: transparent;
  width: 32px;
  height: 32px;
  line-height: 32px;
 text-align: center;
 border-radius: 16px;
}
.tablo .sort.active {
   color: #0a2c45;
   font-weight: 900;
}
.tablo .paging {
  margin: 0 2px;
  padding: 4px 8px;
}
.tablo .paging.selected {
  background: #0a2c45;
  color: #fff;
}
.tablo .paging:not(.selected) {
  cursor: pointer;
}
.tablo .paging:not(.selected):hover {
  background: #ccc;
}
.tablo .footer-container {
  display: flex;
  align-items: center;
}
.tablo .footer-cell {
  padding: 16px 8px;
  vertical-align: middle;
}
.tablo .entries-display {
  margin-left: auto;
  font-size: 13px;
}
.tablo .selections {
   width: 200px;
   position: absolute;
   top: -23px;
   background: #fff;
   box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.tablo .clear {
   padding: 0.5em;
   font-style: italic;
   font-size: 12px;
   cursor: pointer;
}
.tablo .filters {
   background: #eee;
}
.tablo .title {
   display: none;
   font-size: 12px;
   font-weight: 900;
   color: #666;
   margin: 0 0.62em;
}
.tablo .selection {
   padding: 0.5em;
   cursor: pointer;
}
.tablo .selection:hover {
   background: #eee;
}
.tablo .input-display {
   border: 1px solid #ddd;
   cursor: pointer;
}
.tablo .filters .selection:hover {
   background: #ddd;
}
.tablo .filters .selection::before {
   content: "x ";
}
.tablo--container .limit-setter {
   font-size: 13px;
}
.tablo--container .limit-setter input {
   width: 40px;
   padding: 6px;
   border: 1px solid #bbb;
}
.tablo--container .limit-setter input, .tablo--container .export {
   outline: none;
}
.tablo--container .export {
   border: none;
   background: #33b;
   color: #fff;
   cursor: pointer;
   padding: 7px;
}
.tablo--container .limit-setter + .export {
   margin-left: 5px;
}
.tablo--container .header {
   display: flex;
   align-items: center;
}
/*
margin: 0 16px 5px 16px;
border: none;
padding: 3px 7px;
background: #87b2e0;
color: #fff;
border-radius: 4px;
cursor: pointer;*/
